.social {
  display: flex;

  @include se {
     justify-content: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--color-christine);
    background-color: rgba(var(--color-christine-rgb), 0.15);
    transition: color 0.3s, background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px rgba(var(--color-christine-rgb), 0.5);
    }

    &:hover {
      color: var(--color-white);
      background-color: var(--color-christine);
      transition: color 0.3s, background-color 0.3s;
    }

    &:active {
      color: var(--color-christine);
      background-color: var(--color-white);
    }
  }

  &__linkedin-icon,
  &__twitter-icon,
  &__instagram-icon,
  &__fb-icon {
    color: inherit;
    fill: currentColor;
    object-fit: cover;
  }
}
