<section class="download section">
  <div class="container download__container">
    <div class="download__wrapper" style="background-image: url('img/download-bg.jpg')">
      <h2 class="download__title title title--left title--white">
        Simple Way To Order Your Foods
      </h2>
      <ul class="download__list">
        <li class="download__item">
          <a class="download__link download__link--android" href="#" aria-label="GET IN ON Google Play">
            <span class="download__from">GET IN ON</span>
            <span class="download__store">Google Play</span>
          </a>
        </li>
        <li class="download__item">
          <a class="download__link download__link--apple" href="#" aria-label="Download on the Apple Store">
            <span class="download__from">Download on the</span>
            <span class="download__store">Apple Store</span>
          </a>
        </li>
      </ul>
      <div class="download__decor">
        <img class="download__phone download__phone--one" src="./img/phone2.png" aria-hidden="true" width="278" height="600" alt="">
        <img class="download__phone download__phone--two" src="./img/phone1.png" aria-hidden="true" width="278" height="600" alt="">
      </div>
    </div>
  </div>
</section>
