<section class="how-work sections" id="how-work">
  <div class="container">
    <div class="how-work__background" style="background-image: url('img/susi.png')"></div>
    <div class="how-work__wrapper">
      <div class="how-work__caption">
        <span class="section-name section-name--left">
          How to&nbsp;work
        </span>
        <h2 class="how-work__title title title--left">
          Food Is&nbsp;An&nbsp;Important Part Of
          A&nbsp;Balanced Diet.
        </h2>
      </div>
      <div class="how-work__descr">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore
          et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi
          ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit
          in&nbsp;voluptate
          velit esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
          in&nbsp;culpa qui officia deserunt mollit anim id&nbsp;est laborum.
        </p>
      </div>
      <a class="how-work__link btn btn--arrow" href="#">
        Learn More
      </a>
    </div>
  </div>
</section>
