<section class="product section sections" id="product">
  <div class="container">
    <span class="section-name">
      Product
    </span>
    <h2 class="product__title title">
      Most Popular Items
    </h2>
    <ul class="product__list">
      <li class="product__item">
        <article class="product-card" tabindex="0">
          <a class="product-card__link" href="#" aria-label="product Gyro Sandwhich">
            <img class="product-card__img" alt="Gyro Sandwhich" src="/img/1.jpg" width="370" height="270">
          </a>
          <div class="product-card__box">
            <div class="product-card__top">
              <h3 class="product-card__title">
                Gyro Sandwhich
              </h3>
              <span class="product-card__rating">4.7</span>
            </div>
            <div class="product-card__bottom">
              <button class="product-card__add btn btn--card" type="button" tabindex="0">Add To Card</button>
              <span class="product-card__price" tabindex="0">$350</span>
            </div>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product-card" tabindex="0">
          <a class="product-card__link" href="#" aria-label="product Enchilada">
            <img class="product-card__img" alt="Enchilada" src="/img/2.jpg" width="370" height="270">
          </a>
          <div class="product-card__box">
            <div class="product-card__top">
              <h3 class="product-card__title">
                Enchilada
              </h3>
              <span class="product-card__rating">4.7</span>
            </div>
            <div class="product-card__bottom">
              <button class="product-card__add btn btn--card" type="button">Add To Card</button>
              <span class="product-card__price" tabindex="0">$390</span>
            </div>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product-card" tabindex="0">
          <a class="product-card__link" href="#" aria-label="product Green Beans">
            <img class="product-card__img" alt="Green Beans" src="/img/3.jpg" width="370" height="270">
          </a>
          <div class="product-card__box">
            <div class="product-card__top">
              <h3 class="product-card__title">
                Green Beans
              </h3>
              <span class="product-card__rating">4.9</span>
            </div>
            <div class="product-card__bottom">
              <button class="product-card__add btn btn--card" type="button">Add To Card</button>
              <span class="product-card__price" tabindex="0">$230</span>
            </div>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product-card" tabindex="0">
          <a class="product-card__link" href="#" aria-label="product Pizza">
            <img class="product-card__img" alt="Pizza" src="/img/4.jpg" width="370" height="270">
          </a>
          <div class="product-card__box">
            <div class="product-card__top">
              <h3 class="product-card__title">
                Pizza
              </h3>
              <span class="product-card__rating">4.9</span>
            </div>
            <div class="product-card__bottom">
              <button class="product-card__add btn btn--card" type="button">Add To Card</button>
              <span class="product-card__price" tabindex="0">$150</span>
            </div>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product-card" tabindex="0">
          <a class="product-card__link" href="#" aria-label="product Chicken Pot Pie">
            <img class="product-card__img" alt="Chicken Pot Pie" src="/img/5.jpg" width="370" height="270">
          </a>
          <div class="product-card__box">
            <div class="product-card__top">
              <h3 class="product-card__title">
                Chicken Pot Pie
              </h3>
              <span class="product-card__rating">4.7</span>
            </div>
            <div class="product-card__bottom">
              <button class="product-card__add btn btn--card" type="button">Add To Card</button>
              <span class="product-card__price" tabindex="0">$260</span>
            </div>
          </div>
        </article>
      </li>
      <li class="product__item">
        <article class="product-card" tabindex="0">
          <a class="product-card__link" href="#" aria-label="product Green Salad">
            <img class="product-card__img" alt="Green Salad" src="/img/6.jpg" width="370" height="270">
          </a>
          <div class="product-card__box">
            <div class="product-card__top">
              <h3 class="product-card__title">
                Green Salad
              </h3>
              <span class="product-card__rating">4.9</span>
            </div>
            <div class="product-card__bottom">
              <button class="product-card__add btn btn--card" type="button">Add To Card</button>
              <span class="product-card__price" tabindex="0">$100</span>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <button class="product__more btn btn--arrow">See More Product</button>
  </div>
</section>
