<section class="subcribe section">
  <div class="container subcribe__container">
    <div class="subcribe__background" style="background-image: url('img/download-bg.jpg')">
      <img class="subcribe__img" src="/img/burger.png" alt="burger" aria-hidden="true" width="460" height="460">
      <div class="subcribe__wrapper">
        <h2 class="subcribe__title title title--white title--left">
          Subcribe To&nbsp;Our Newsletter
        </h2>
        <p class="subcribe__descr">
          Email subsription is&nbsp;an&nbsp;opportunity to&nbsp;recevie an&nbsp;interting newsletter
          from a&nbsp;website. once a&nbsp;user fills in&nbsp;the subscription from on&nbsp;a&nbsp;website.
        </p>
        <form class="subcribe__form" action="/">
          <label class="subcribe__label" for="useremail"></label>
          <input class="subcribe__input" name="sub-useremail" type="email" id="useremail"
            placeholder="Type your email..." required>
          <button class="subcribe__btn btn" type="submit">subcribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
