<section class="tasty-food">
  <div class="container">
    <div class="tasty-food__background" style="background-image: url('img/product.png')"></div>
    <div class="tasty-food__top">
      <h1 class="tasty-food__title">
        You Can Eat Any Tasty Food You Like.
      </h1>
      <p class="tasty-food__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore
        et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
      <a class="tasty-food__link btn btn--arrow" href="#">
        Get Started
      </a>
      <ul class="tasty-food__social social" tabindex="0">
        <li class="social__item">
          <a class="social__link" href="#" tabindex="0" aria-label="Facebook">
            <svg class="social__fb-icon" width="7" height="13">
              <use xlink:href="/img/sprite.svg#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" tabindex="0" aria-label="Instagram">
            <svg class="social__instagram-icon" width="13" height="13">
              <use xlink:href="/img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" tabindex="0" aria-label="Twitter">
            <svg class="social__twitter-icon" width="16" height="13">
              <use xlink:href="/img/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#" tabindex="0" aria-label="LinkedIn">
            <svg class="social__linkedin-icon" width="14" height="13">
              <use xlink:href="/img/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="tasty-food__address address-top">
        <li class="address-top__item">
          <span class="address-top__info address-top__info--work">
            Today&nbsp;10:00am&nbsp;&mdash; 09:00pm
          </span>
          <span class="address-top__descr">
            Working Time
          </span>
        </li>
        <li class="address-top__item">
          <span class="address-top__info address-top__info--local">
            Washington, D.C., DC, USA
          </span>
          <span class="address-top__descr">
            Our Location
          </span>
        </li>
        <li class="address-top__item">
          <span class="address-top__info address-top__info--tel">
            +17602781253
          </span>
          <span class="address-top__descr">
            Call Online
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
