<section class="testimonials section">
  <div class="testimonials__background" style="background-image: url('img/testimonials-bg.png')"></div>
  <div class="container testimonials__container">
    <span class="section-name">
      Testimonials
    </span>
    <h2 class="testimonials__title title">
      Our Happy Client Says
    </h2>
    <div class="testimonials__wrapper">
      <div class="testimonials__slider">
        <ul class="testimonials__list">
          <li class="testimonials__slide review">
            <div class="review__top">
              <img class="review__photo" src="/img/photo.jpg" alt="photo Williams Johon">
              <div class="reviev__info">
                <span class="review__name" tabindex="0">Williams Johon</span>
                <span class="review__position" tabindex="0">CEO & Co-Founder</span>
              </div>
            </div>
            <div class="review__text" tabindex="0">
              <p tabindex="0">
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor.</q>
              </p>
            </div>
          </li>
          <li class="testimonials__slide review">
            <div class="review__top">
              <img class="review__photo" src="/img/photo.jpg" alt="photo Williams Johon">
              <div class="reviev__info">
                <span class="review__name" tabindex="0">Williams Johon</span>
                <span class="review__position" tabindex="0">CEO & Co-Founder</span>
              </div>
            </div>
            <div class="review__text" tabindex="0">
              <p tabindex="0">
                <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor.</q>
              </p>
            </div>
          </li>
        </ul>
        <button class="testimonials__arrow testimonials__arrow--next" type="button" aria-label="next blockquote">
          <svg width="23" height="10" viewBox="0 0 23 11" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.5.984a1 1 0 01.71 1.71L2.9 5.984l3.18 3.31a1 1 0 11-1.42 1.41l-3.86-4a1 1 0 010-1.4l4-4a1 1 0 01.7-.32z" />
            <path stroke-width="2" stroke-linecap="round" d="M3 5.984h19" />
          </svg>
        </button>
        <button class="testimonials__arrow testimonials__arrow--prev" type="button" aria-label="prev blockquote">
          <svg width="23" height="10" viewBox="0 0 23 11" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.5 10.016a1 1 0 01-.71-1.71l3.31-3.29-3.18-3.31a1 1 0 111.42-1.41l3.86 4a1 1 0 010 1.4l-4 4a1 1 0 01-.7.32z" />
            <path stroke-width="2" stroke-linecap="round" d="M20 5.016H1" />
          </svg>
        </button>
        <div class="testimonials__dots"></div>
      </div>
      <img class="testimonials__img" src="/img/plate.jpg" alt="plate of food" width="569" height="483">
    </div>
  </div>
</section>
